body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.links-container {
    display: flex;
    flex-direction: column;
}

a {
    background-color: rgb(124, 185, 255);
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    color: black;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.192);
}
